@font-face {
  font-family: 'TT Norms';
    src: url('fonts/TTNorms-font/TTNorms-Bold.eot');
    src: url('fonts/TTNorms-font/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTNorms-font/TTNorms-Bold.woff2') format('woff2'),
        url('fonts/TTNorms-font/TTNorms-Bold.woff') format('woff'),
        url('fonts/TTNorms-font/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('fonts/TTNorms-font/TTNorms-Medium.eot');
  src: url('fonts/TTNorms-font/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/TTNorms-font/TTNorms-Medium.woff2') format('woff2'),
      url('fonts/TTNorms-font/TTNorms-Medium.woff') format('woff'),
      url('fonts/TTNorms-font/TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "TT Norms";
}

ul[class],
ol[class],
li[class] {
  padding: 0;
  list-style: none;
}

.wrapper {  
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* start top menu */

.menu_wrap {
  width: 290px;
  height: 100%;
  background-color: #FFFFFF;
}

.top_menu {
  position: relative;
  width: 242px;
  height: 960px;
  margin-top: 80px;
}

.menu__user_photo {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 97px;  
}

.img_photo {
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
}

.menu__user_name {
  position: absolute;
  width: 195px;
  height: 22px;
  left: 47px;
  top: 113px;  
}

.user_name {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #0D1C2E;
  font-weight: 500;
}

.chevron-down__user_name {
  position: absolute;
  width: 19px;
  height: 19px;
  left: calc(50% - 19px + 195px/2);
  top: calc(50% - 19px + 22px/2);
}

.menu_items {
  height: 750px;
  width: 100%;
  left: 38px;
  bottom: 0px;
  position: absolute;
}

.items {
  height: 100%;
  margin: 0;
}

.menu_item {
  text-decoration: none; 
  cursor: pointer;
}

.item {
  max-width: 90%;
  height: 40px;
  left: 38px;
  margin-bottom: 35px;
}

.item:last-child {
  margin-top: 295px;
}

.item_title { 
  vertical-align: 8px;
  height: 40px;
  bottom: 8px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  text-transform: uppercase;
  color: #707C97;
}

.item_icon {
  margin-top: 8px;
  margin-right: 14px;
  display: inline-block;
  width: 24px;
  height: 24px;  
  background-color: #707C97;   
}

.icon_home {
  -webkit-mask-image: url('/img/icons/home.svg');
  mask-image: url('/img/icons/home.svg');
}

.icon_chat {
  -webkit-mask-image: url('/img/icons/chat.svg');
  mask-image: url('/img/icons/chat.svg');  
  z-index: 1;
}

.icon_contact {
  -webkit-mask-image: url('/img/icons/contact.svg');
  mask-image: url('/img/icons/contact.svg');
}

.icon_noti {
  -webkit-mask-image: url('/img/icons/noti.svg');
  mask-image: url('/img/icons/noti.svg');
}

.icon_calendar {
  -webkit-mask-image: url('/img/icons/calendar.svg');
  mask-image: url('/img/icons/calendar.svg');
}

.icon_settings {
  -webkit-mask-image: url('/img/icons/settings.svg');
  mask-image: url('/img/icons/settings.svg');
}

.icon_power {
  -webkit-mask-image: url('/img/icons/power.svg');
  mask-image: url('/img/icons/power.svg');
}

.item_icon:active, .item_icon__active {
  background-color: #2A8BF2;
}

.item_title:active, .item_title__active {
  color: #2A8BF2;
}

.rectangle {
  position: absolute;
  margin-left: -38px;
  width: 3px;
  height: 40px;
  background: #2A8BF2;
  box-shadow: 1px 0px 10px rgba(42, 139, 242, 0.45), 0px 0px 10px rgba(42, 139, 242, 0.55), 4px 0px 25px rgba(42, 139, 242, 0.75);
  border-radius: 3px;
}

.elli {
  width: 24px;
  height: 24px; 
}

.ellipse_one {
  position: absolute;
  width: 2px;
  height: 2px;
  left: 29%;
  top: 46%;
  z-index: 10;
  
  position: relative;

  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.03);
}

.ellipse_two {
  position: absolute;
  width: 2px;
  height: 2px;
  left: 46%;
  top: 46%;
  z-index: 10;

  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.03);
}

.ellipse_thr {
  position: absolute;
  width: 2px;
  height: 2px;
  left: 63%;
  top: 46%;
  z-index: 10;

  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.03); 
}

.ellipse_one:active, .ellipse_two:active, .ellipse_thr:active,
.ellipse_one:focus, .ellipse_two:focus, .ellipse_thr:focus {
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.03); */
  background:  #2A8BF2;
}

/* end top menu */

/* start all chats */

.chat_wrap {
  position: relative;
  width: 1630px;
  height: 100%;  
  background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
}

.all_chats {
  position: absolute;
  width: 597px;
  height: 1127px;
  top: 109px;
  left: 59px;
  background-color: rgb(161, 226, 233);
}

.title_chats {
  position: absolute;
  width: 581px;
  height: 67px;
  background-color: rgb(183, 203, 241);
}

.title_chats > p {
  position: absolute;
  margin: 0;

  font-size: 36px;
  line-height: 26px;
  
/* identical to box height, or 72% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #0D1C2E;
}

.title_filter {
  position: absolute;
  margin-top: 42px;

  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #707C97;
}

.chevron-down__title_filter {
  -webkit-mask-image: url('./img/icons/chevron-down.svg');
  mask-image: url('./img/icons/chevron-down.svg');

  position: absolute;
  width: 16px;
  height: 16px;
  left: calc(110px + 16px/2);
  top: 48px;

  background-color: #707C97; 
}

.button_create {
  position: absolute;
  width: 240px;
  height: 60px;
  left: 341px;
  top: 1px;

  display: flex;
  align-items: center;
  /* vertical-align: middle; */
  text-align: center;

  background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
  box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
  border-radius: 6px;
  border: none;

  font-size: 20px;
  line-height: 24px;
}

.icon_plus {
  position: absolute;
  margin-right: 7px;
}

.text__button_create {
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

